# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
dist/
build/

# Ambiente virtuale
.venv/
venv/
env/

# Database locale
instance/
*.sqlite
*.db

# Upload locali
app/uploads/

# Variabili d'ambiente
.env
.env.local

# Flask / Alembic
migrations/versions/__pycache__/

# Editor
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
